.checkout-section::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4ebc8;
  opacity: 0.5;
  z-index: -1;
}

.checkout-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("../../public/anticipate-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    background-color: #f4ebc8;
    z-index: 1;
    padding-top: 3em;
    padding-left: 40px;
    padding-right: 40px;
}

h3{
    font-weight: 500;
    width: 70%;
    padding-bottom: 20px;
  font-family: "Raleway", sans-serif;

}

@media only screen and (min-width: 1020px){
    h3{
        width: 50%;
    }
}