footer {
  background-image: linear-gradient(#fffde8, #fffde8), url("/vector_train.svg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  /* top: 50%; */
  background-color: #fffde8;
  z-index: -1;
}
