.footer{
    width: 100%;
    padding-top: 100px;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    margin-bottom: 0px;
}

.footer-icon{
    margin-top: 5px;
}

.footer-img{
    width: 100%;  
    height: auto; 
    display: block;
    
}

@media only screen and (min-width: 1020px){
    .footer-icon{
        margin-top: 12px;
    }
}