.form-container::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #f4ebc8;
  opacity: 0.5;

  z-index: -1;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../../public/anticipate-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  position: relative;
  background-color: #f4ebc8;
  z-index: 1;
  padding-top: 3em;
  padding-left: 40px;
  padding-right: 40px;
}

form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

label {
  color: #000000;
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;

}

input , select{
  padding: 10px;
  border: 1px solid #E28B3F;
  background-color: #E28B3F;
  color: #ffff;
  box-shadow: 5px 5px 0 0 #000;
}

.list, .dropdown-button{
    padding: 10px;
}

.room-opps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.room-opps label{
    border: 1px solid #E28B3F;
    padding: 7px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 0 0 #000;
    background-color: #E28B3F;
    color: #ffff;
}

.room-opps label input{
    box-shadow: none;
    margin-right: auto;
    
}

input:focus, select:focus {
    outline: none;
    
  }

@media only screen and (min-width: 1020px) {
  .form-container {
    background-image: url("../../public/anticipation-bg-lg.png");
  }

  label{
    font-size: 1.4rem;
  }

  form {
    width: 50%;
    margin-top: 50px;
  }
}
